USE [master]
GO
/****** Object:  Database [TodosDB]    Script Date: 20-02-2020 13:00:40 ******/
CREATE DATABASE [TodosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TodosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TodosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TodosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TodosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TodosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TodosDB]
GO
/****** Object:  Table [dbo].[Todo]    Script Date: 20-02-2020 13:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Todo](
	[Id] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[isComplete] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
